* text=auto eol=lf

*.gd text eol=lf
*.uid text eol=lf
*.tscn text eol=lf
*.tres text eol=lf
*.import text eol=lf
*.godot text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.wav binary
*.mp3 binary
*.m4a binary
*.rar binary
*.zip binary
*.exe binary
